.contenidor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bcd2ec;
  height: 100%;
}
.form-login {
  width: 100%;
  max-width: 20%;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.amplada {
  width: 20%;
}
.amplada_inputs {
  width: 80%;
}
.progres {
  margin: auto;
}
